<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Web Scraping</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scape New Data!</a></p>
    </div>


<!-- <div class="container"> -->
<div class="row" style="padding-left: 20px; background-color:lightblue;">
    <h2>Latest Mars News</h2>
    <h3>{{ mars_app.news_title }}</h3>
    <p>{{ mars_app.news_p }}</p>
  </div>
  </div>
  <!-- <div class="container"> -->
<div class="row" style="padding-left: 20px;">
    <div class="col-md-6" style="padding-left: 20px;">
        <h2>Featured Mars Image</h2>
    <img src="{{ mars_app.featured_image_url }}" style="max-width:100%;max-height:100%;" alt=IMG>
    </div>
    <div class="col-md-6" style="padding-left: 20px; padding-top: 20px; padding-right: 20px;">
        <div class="panel panel-default">
            <h4>Current Weather on Mars</h4>
            <div class="panel-body">{{ mars_app.mars_weather }}</div>
        </div>
    
    </div>
    <div class="col-md-6" style="padding-left: 20px; padding-top: 20px; padding-right: 20px;">
      <div class="panel panel-default">
          <h4>Mars Facts</h4>
          <div class="panel-body">
            {{ mars_app.mars_facts|safe }}
          </div>
      </div>
  
  </div>
</div>
<div class="container">
  <div class="row" style="padding-left: 20px;">
    <div class="col-lg-6">
      <img src="{{ mars_app.featured_image_url }}" style="max-width:25%;max-height:25%;" alt=IMG>
        <h4>Current Weather on Mars</h4>
    </div>
    </div>
      <div class="col-lg-6">
        <h3 class="title">Comparison: Latitude vs. X</h3>
  
      <img src="{{ mars_app.featured_image_url }}" style="max-width:25%;max-height:25%;" alt=IMG>
      </div>
      <div class="row">
      <div class="col-lg-6">
        <h3 class="title">Comparison: Latitude vs. X</h3>
        <img src="{{ mars_app.featured_image_url }}" style="max-width:25%;max-height:25%;" alt=IMG>
      </div> 
      <div class="col-lg-6">
        <h3 class="title">Comparison: Latitude vs. X</h3>
        <img src="{{ mars_app.featured_image_url }}" style="max-width:25%;max-height:25%;" alt=IMG>
      </div>
      </div>
  </div>
  </div>
</html>